//colors primavera
$firstColor: #fff;
$secondColor: #ffecd0;
$thirdColor: #2402ff98;
$fourthColor: #000;
$preto: #000;
$parcela: #a7a7a7;
$buttonBack: #b25428ad;
$buttonBackHover: #c7631c;
$buttonColor: #fff;

//verde, amarelo, rosa, lilás e azul em tons pastéis e claros,
//que refletem a natureza florescente e a renovação.
//A paleta também inclui tons de laranja, coral e terrosos claros,
// proporcionando uma sensação de frescor e otimismo.

//fonts
// $titleFont:; story script, Sirivennela, Great Vibes, Parisienne
$titleFont: "Parisienne", cursive;
$simpleFont: "Open Sans", sans-serif;
