@use "../abstracts/variaveis" as *;
@use "../abstracts/mixins" as *;

#explore {
    background-color: $secondColor;

    .container__explore {
        max-width: 1100px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        &__descricao {
            padding-right: 3%;

            p {
                color: $thirdColor;
                font-weight: 700;
                font-size: 1rem;
                line-height: 200%;
                padding: 10% 0 2% 0;
            }

            h3 {
                font-size: 2rem;
            }
            h4 {
                font-size: 2rem;
                color: $thirdColor;
                width: 600px;
            }
            .paragrafo {
                color: $fourthColor;
                font-weight: 400;
            }

            button {
                @include button();  
                margin: 10% 0 10% 0;    
                font-size: 1.5rem;     
            }
        }

        &__image {
            img {
                height: 400px;
                width: 600px;
            }
        }
    }
}